<!DOCTYPE html>
<html>
<title>Flash Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>
<div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
          <a class="navbar-brand" href="{% url 'index' %}">FLASH</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">For You</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'index1' %}">World</a>
                  <a class="dropdown-item" href="{% url 'index2' %}">Local</a>
                  <a class="dropdown-item" href="{% url 'index3' %}">Science and Technology</a>
                  <a class="dropdown-item" href="{% url 'index4' %}">Business and Economy</a>
                  <a class="dropdown-item" href="{% url 'index5' %}">Health and Lifestyle</a>
                  <a class="dropdown-item" href="{% url 'index6' %}">Sports</a>
                  <a class="dropdown-item" href="{% url 'index7' %}">Entertainment</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
</div>
<br>
<div class="w3-content w3-display-container" style="max-width:1200px">
    {% for a in news %}
        <div class="w3-display-container mySlides">
        <img class="w3-animate-right" src={{ a.image }} style="width:1200px;height:500px">
        <div class="w3-display-bottomright w3-large w3-container w3-padding-12 w3-black">
        {{ a.title }}
        </div>
        <div class="w3-display-topleft w3-large w3-container w3-padding-12 w3-black">
        {{ a.source }}
        </div>
        </div>
    {% endfor %}

    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <br>
    <div class="w3-center">
      <button class="w3-button demo" onclick="currentDiv(1)">1</button>
      <button class="w3-button demo" onclick="currentDiv(2)">2</button>
      <button class="w3-button demo" onclick="currentDiv(3)">3</button>
      <button class="w3-button demo" onclick="currentDiv(4)">4</button>
      <button class="w3-button demo" onclick="currentDiv(5)">5</button>
      <button class="w3-button demo" onclick="currentDiv(6)">6</button>
      <button class="w3-button demo" onclick="currentDiv(7)">7</button>
      <button class="w3-button demo" onclick="currentDiv(8)">8</button>
      <button class="w3-button demo" onclick="currentDiv(9)">9</button>
      <button class="w3-button demo" onclick="currentDiv(10)">10</button>
    </div>
    </div>
  </div>
</div>

<script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-black", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-black";
}
</script>

</body>
</html>
