<div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
                  <a class="navbar-brand" href="{% url 'index' %}">FLASH</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
{#                      <li class="nav-item"><a class="nav-item nav-link" href="#">FEATURED</a></li>#}
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index1' %}">WORLD</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index2' %}">INDIA</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index3' %}">SCIENCE</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index4' %}">ECONOMY</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index5' %}">HEALTH</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index6' %}">SPORTS</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" href="{% url 'index7' %}">ENTERTAINMENT</a></li>
                    </ul>
                  </div>

                </nav>
            </div>
        </div>